@model IEnumerable<CCIH.Entities.UsuariosMatriculadosEnt>

@{
    ViewData["Title"] = "Lista de Matriculas";
    Layout = "~/Views/Shared/_Layout_Administracion.cshtml";
}


<heah>


    <link rel="stylesheet" href="~/Administracion/css/datatable/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/Administracion/css/datatable/buttons.dataTables.min.css" />

    <script defer src="~/Administracion/js/DataTable/code.jquery.com_jquery-3.7.0.js"></script>
    <script defer src="~/Administracion/js/DataTable/cdn.datatables.net_1.13.5_js_jquery.dataTables.min.js"></script>
    <script defer src="~/Administracion/js/DataTable/cdn.datatables.net_buttons_2.4.1_js_dataTables.buttons.min.js"></script>
    <script defer src="~/Administracion/js/DataTable/cdnjs.cloudflare.com_ajax_libs_jszip_3.10.1_jszip.min.js"></script>
    <script defer src="~/Administracion/js/DataTable/cdnjs.cloudflare.com_ajax_libs_pdfmake_0.1.53_pdfmake.min.js"></script>
    <script defer src="~/Administracion/js/DataTable/cdnjs.cloudflare.com_ajax_libs_pdfmake_0.1.53_vfs_fonts.js"></script>
    <script defer src="~/Administracion/js/DataTable/cdn.datatables.net_buttons_2.4.1_js_buttons.html5.min.js"></script>
    <script defer src="~/Administracion/js/DataTable/cdn.datatables.net_buttons_2.4.1_js_buttons.print.min.js"></script>

    <script defer src="~/administracion/js/datatable/datatable.js"></script>


</heah>


<main id="main" class="main">

    <div class="pagetitle">
        <h1>Lista de Matriculas</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a>Inicio</a></li>
                <li class="breadcrumb-item">Matricula</li>
                <li class="breadcrumb-item active">Listado de Matriculas</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">


                        
                        <br />
                        <div class="row">
                            @if (ViewBag.MensageExitoso != null)
                            {
                                <div id="Msj" style="text-align:center;" class="alert alert-success" role="alert">
                                    @ViewBag.MensageExitoso
                                </div>
                            }
                            else if (ViewBag.MensageError != null)
                            {
                                <div id="Msj" style="text-align:center;" class="alert alert-danger" role="alert">
                                    @ViewBag.MensageError
                                </div>
                            }
                            <div class="col-12">
                                <div class="table-responsive">

                                    <table id="DataTable" class="table table-hover text-center" width="100%">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Nombre completo</th>
                        <th>Cedula</th>
                        <th>FechaMatricula</th>
                        <th>Próximo pago</th>
                        <th>Curso</th>
                        <th>Modalidad</th>
                        <th>Nivel</th>
                        <th>Horario</th>
                        <th style="text-align: center;">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Usuario</td>
                            <td>@item.Nombre @item.Apellido1 @item.Apellido2</td>
                            <td>@item.Cedula</td>
                            <td>@item.FechaMatricula</td>
                            <td>@item.DiaPago</td>
                            <td>@item.Curso</td>
                            <td>@item.Modalidad</td>
                            <td>@item.Nivel</td>
                            <td>@item.Horario</td>
                            <td style="text-align: center;"><a href="@Url.Action("EliminarMatriculaPorUsuario","Matricula", new { idUsuario = item.IdUsuario })"><span style="color: #000;" class="bi bi-trash-fill"></span></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
                    </div>
<div class="row">
    <div class="col-2">
        <button type="button" class="btn btn-secondary" onclick="window.history.back();">Regresar</button>
    </div>
</div>

                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->




<script>


    // Esperar 5 segundos y luego ocultar el mensaje
    setTimeout(function () {
        var mensajeDiv = document.getElementById('Msj');
        if (mensajeDiv != null) {
            mensajeDiv.style.display = 'none';
        }
    }, 5000); // 5000 milisegundos = 5 segundos

</script>